@use "../../assets/scss/partials/importer" as *;

.Advanced-search {
  input:not([type="checkbox"]) {
    padding: 18px;

    width: 100%;

    font-size: 16px;
    font-weight: 400;

    background-color: $transparentBlack;

    border: none;
    outline: none;
    border-radius: 10px;

  }

  .colors-input,
  .stats-input,
  .formats-input {
    @extend input;
  }

  .inner {
    width: 1000px;

    user-select: none;

    h1 {
      font-size: 42px;
      font-weight: 600;
    }

    .filters {
      margin-top: 75px;
      gap: 50px;

      .filter {
        .filter-label {
          display: flex;

          column-gap: 25px;
          margin-top: 7.5px;

          font-size: 28px;
          font-weight: 500;

          svg {
            height: 40px;
            width: 40px;
          }
        }

        .input-wrap {
          position: relative;

          width: 750px;

          .radio-wrap {
            gap: 10px;
            margin-block: 10px;
          }

          .radio {
            position: relative;

            margin: 0;
            padding: 0;

            height: 22px;
            width: 22px;

            appearance: none;
            cursor: pointer;
            background-color: $white;

            border: 1px solid $orange;
            outline: none;
            border-radius: 50%;
          }

          .radio:checked {
            background-color: $orange;
          }

          .radio:checked::before {
            position: absolute;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 9px;
            height: 9px;

            background-color: $white;

            border-radius: 50%;

            content: "";
          }

          .arrow.active {
            transform: rotate(180deg);
          }

          .add-btn {
            flex-shrink: 0;

            margin-left: 25px;

            height: 40px;
            width: 40px;

            cursor: pointer;

            path {
              transition: fill 300ms;

              &:hover {
                fill: $red;
              }
            }

          }

          .subnote {
            font-size: 12px;
            font-weight: 300;
          }

          .dropdown {
            position: absolute;
            z-index: 5;

            padding: 18px;

            background-color: $transparentBlack;

            border-radius: 10px;
          }
        }

        hr {
          margin-top: 25px;

          width: 100%;

          border-color: rgba(234, 75, 18, 0.55);
        }
      }
    }

    .search-btn {
      padding: 10px;
      margin-top: 60px;

      font-size: 16px;
      font-weight: 400px;

      background-color: $orange;

      transition: background-color 300ms;

      &:hover {
        background-color: $red;
      }
    }
  }
}

@media (max-width: $sm) {
  .Advanced-search {
    input:not([type="checkbox"]) {
      font-size: 14px;
    }

    .inner {
      width: $smContainer;

      h1 {
        text-align: center;
      }

      .filters {

        .filter {
          .filter-label {
            font-size: 24px;

            svg {
              height: 35px;
              width: 35px;
            }
          }

          .input-wrap {
            width: 550px;

            .add-btn {
              height: 35px;
              width: 35px;
            }

            .subnote {
              font-size: 11px;
            }
          }
        }
      }

      .search-btn {
        padding: 20px;
        padding-inline: 50px;
        margin-top: 50px;

        font-size: 14px;
      }
    }
  }


}

@media (max-width: $tablet) {
  .Advanced-search .inner {
    width: $tabletContainer;

    h1 {
      font-size: 40px;
    }

    .filters .filter {
      .filter-label {
        margin-top: 0px;
      }

      &>div {
        flex-direction: column;
        
        row-gap: 25px;
      }

      .input-wrap {
        width: 100%;
      }
    }
  }

}

@media (max-width: $lmobile) {
  .Advanced-search .inner {
    width: $lmobileContainer;

    h1 {
      font-size: 38px;
    }

    .filters {
      margin-top: 50px;
    }

    .search-btn {
      font-size: 13px;
    }
  }


}

@media (max-width: $mobile) {
  .Advanced-search {
    input:not([type="checkbox"]) {
      font-size: 12px;
    }

    .inner {
      width: $mobileContainer;

      h1 {
        font-size: 32px;
      }

      .search-btn {
        font-size: 12px;
      }

      .filters .filter {
        .filter-label {
          column-gap: 15px;

          font-size: 20px;
        }

        .input-wrap {
          .radio-wrap span {
            font-size: 18px;
          }

          .subnote {
            font-size: 9px;
          }
        }
      }
    }
  }
}