@use "../../assets/scss/partials/importer" as *;

.card-placeholder {
  padding: 25px;

  width: 215px;
  height: 300px;

  background-color: $transparentBlack;

  border-radius: 10px;

  transition: 300ms;
  @include shine-mask();

  .card-placeholder-img {
    width: 100%;
    height: 100px;

    background-color: $gray;

    border-radius: 10px;
  }

  .card-placeholder-content {
    margin-top: auto;
    row-gap: 15px;

    width: 100%;

    div {
      height: 10px;
      width: inherit;

      background-color: $gray;

      border-radius: 10px;
    }
  }
}