@use "../../assets/scss/partials/importer" as *;

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  .search {
    width: $fhdContainer;

    h1 {
      font-size: 48px;
      font-weight: 600;
    }

    .search-bar {
      margin-top: 50px;
      margin-bottom: 25px;

      width: 750px;

      background-color: $transparentBlack;

      border-radius: 10px;

      .search-wrap {
        height: 70px;
        width: 70px;

        background-color: $orange;

        border-radius: 10px 0px 0px 10px;

        transition: background-color 300ms;

        cursor: pointer;

        svg {
          width: 32px;
          height: 32px;

          path {
            stroke: $white;
            stroke-width: 8px;
          }
        }

        &:hover {
          background-color: $red;
        }
      }

      .input-wrap {
        width: 90%;

        input {
          width: 100%;
          height: 100%;

          padding-inline: 25px;

          font-size: 20px;
          font-weight: 400;

          outline: none;

          background: transparent;
        }
      }
    }

    .search-buttons {
      gap: 15px;

      button:hover {
        background-color: $orange;
      }
    }
  }



  .cards {
    display: flex;

    width: 100%;
    max-width: fit-content;

    margin-top: 50px;

    .carousel {
      display: flex;
      flex-direction: row;

      overflow: hidden;

      scroll-behavior: auto;
      padding-block: 20px;

      .card {
        max-width: 300px;

        margin-right: 50px;
      }
    }

    .card-placeholder {
      margin-right: 50px;
    }
  }


}

@media screen and (max-width: $xlg) {
  .Home {
    .search {
      width: $xlgContainer;

      h1 {
        font-size: 46px;
      }

      .search-bar {
        width: 650px;

        .search-wrap {
          height: 67px;
          width: 67px;
        }

        .input-wrap {
          input {
            font-size: 18px;
            padding-inline: 23px;
          }
        }
      }
    }
  }
}



@media screen and (max-width: $lg) {
  .Home .search {
    width: $lgContainer;

    .search-bar {
      width: 600px;
    }
  }
}

@media screen and (max-width: $md) {
  .Home .search {
    width: $mdContainer;

    h1 {
      font-size: 44px;
    }

    .search-bar {
      width: 500px;

      .search-wrap {
        height: 65px;
        width: 65px;

        svg {
          width: 25px;
          height: 25px;
        }
      }

      .input-wrap {
        input {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .Home .search {
    width: 100%;
    align-items: center;

    h1 {
      font-size: 42px;
    }

    .search-bar {
      .search-wrap {
        height: 63px;
        width: 63px;
      }

      .input-wrap input {
        font-size: 14px;
      }
    }

    .search-buttons {
      width: 500px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .Home .search {
    h1 {
      font-size: 40px;
    }

    .search-bar {
      .search-wrap {
        height: 61px;
        width: 61px;
      }

      .input-wrap input {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: $lmobile) {
  .Home .search {
    h1 {
      font-size: 38px;
    }

    .search-bar {
      width: 400px;

      .search-wrap {
        height: 59px;
        width: 59px;

        svg {
          width: 22px;
          height: 22px;
        }
      }

      .input-wrap input {
        font-size: 12px;
      }
    }

    .search-buttons {
      width: 400px;
      justify-content: center;
      gap: 12px;
    }
  }
}

@media screen and (max-width: $mobile) {

  .Home {

    .search {
      h1 {
        font-size: 32px;
      }

      .search-bar {
        margin-top: 25px;
        width: 315px;

        .search-wrap {
          height: 50px;
          width: 50px;

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }

      .search-buttons {
        width: 315px;
        flex-wrap: wrap;
        justify-content: left;
        gap: 15px;
      }
    }

    .cards {
      margin-top: 25px;
      padding-block: 0px;
    }
  }
}