@use "../../assets/scss/partials/importer" as *;

.Searched {
    width: $fhdContainer;

    .cards-counter-wrap {
        .cards-counter {
            padding: 10px 30px 10px 30px;

            font-size: 28px;
            font-weight: 400;

            background-color: $transparentBlack;

            border-radius: 10px;
        }
    }


    .counter-buttons-wrap {
        column-gap: 15px;

        .active {
            background-color: $orange;

            transition: background-color 300ms;

            &:hover {
                background-color: $red;
            }
        }
    }
}



@media (max-width: $xlg) {
    .Searched {
        width: $xlgContainer;

        .cards-counter-wrap {
            .cards-counter {
                font-size: 26px;
            }
        }

    }
}

@media (max-width: $lg) {
    .Searched {
        width: $lgContainer;

        .cards-counter-wrap {
            .cards-counter {
                font-size: 24px;
            }
        }
    }
}

@media (max-width: $md) {
    .Searched {
        width: $mdContainer;

        .cards-counter-wrap {
            .cards-counter {
                font-size: 22px;
            }
        }
    }
}

@media (max-width: $sm) {
    .Searched {
        width: $smContainer;

        .cards-counter-wrap {
            .cards-counter {
                font-size: 20px;
            }
        }

        .counter-buttons-wrap .active:hover {
            background-color: $orange;
        }
    }
}

@media (max-width: $tablet) {
    .Searched {
        width: $tabletContainer;

        .cards-counter {
            font-size: 18px;
        }
    }
}

@media (max-width: $lmobile) {
    .Searched {
        width: $lmobileContainer;

        .cards-counter-wrap {
            flex-direction: column;
            
            row-gap: 25px;

            .cards-counter {
                font-size: 18px;
            }
        }

        .counter-buttons-wrap button {
            font-size: 14px;
        }
    }
}

@media (max-width: $mobile) {
    .Searched {
        width: $mobileContainer;
    }
}