@use "../../assets/scss/partials/importer" as *;

.Searched {
    width: $fhdContainer;
}

.Searched .cards-counter {
    font-size: 28px;
    font-weight: 400;
    padding: 10px 30px 10px 30px;
    background-color: $transparentBlack;
    border-radius: 10px;
}

.Searched .counter-buttons-wrap {
    column-gap: 15px;
}

.Searched .counter-buttons-wrap .active {
    background-color: $orange;
    transition: background-color 300ms;
}

.Searched .counter-buttons-wrap .active:hover {
    background-color: $red;
}

.Searched .cards {
    margin-block: 100px;
}

@media (max-width: $xlg) {
    .Searched {
        width: $xlgContainer;
    }

    .Searched .cards-counter {
        font-size: 26px;
    }
}

@media (max-width: $lg) {
    .Searched {
        width: $lgContainer;
    }

    .Searched .cards-counter {
        font-size: 24px;
    }
}

@media (max-width: $md) {
    .Searched {
        width: $mdContainer;
    }

    .Searched .cards-counter {
        font-size: 22px;
    }
}

@media (max-width: $sm) {
    .Searched {
        width: $smContainer;
    }

    .Searched .counter-buttons-wrap .active:hover {
        background-color: $orange;
    }

    .Searched .cards-counter {
        font-size: 20px;
    }

    .Searched .cards {
        margin-block: 75px;
    }
}

@media (max-width: $tablet) {
    .Searched {
        width: $tabletContainer;
    }

    .Searched .cards-counter {
        font-size: 18px;
    }
}

@media (max-width: $lmobile) {
    .Searched {
        width: $lmobileContainer;
    }

    .Searched .cards-counter-wrap {
        flex-direction: column;
        row-gap: 25px;
    }


    .Searched .cards-counter {
        font-size: 18px;
    }

    .Searched .counter-buttons-wrap button {
        font-size: 14px;
    }

    .Searched .cards {
        margin-block: 50px;
    }
}

@media (max-width: $mobile) {
    .Searched {
        width: $mobileContainer;
    }
}