@use "../../assets/scss/partials/importer" as *;

.Chosen-set {
  width: $fhdContainer;

  h1 {
    font-size: 42px;
    font-weight: 600;
  }

  .h1-set-icon {
    width: 50px;

    margin-right: 25px;

    filter: invert(35%) sepia(100%) saturate(7500%) hue-rotate(30deg);
  }

  .search-bar {
    width: 650px;

    margin-top: 50px;
    margin-bottom: 25px;

    background-color: $transparentBlack;

    border-radius: 10px;

    .search-wrap {
      height: 70px;
      width: 70px;

      border-radius: 10px 0px 0px 10px;

      transition: stroke 300ms;

      svg {
        width: 32px;
        height: 32px;

        path {
          stroke: $white;
          stroke-width: 8px;
        }
      }
    }

    .input-wrap {
      width: 90%;

      input {
        width: 100%;
        height: 100%;

        padding-inline: 10px;

        font-size: 20px;
        font-weight: 400;

        background: transparent;
        outline: none;
      }
    }
  }

}

@media screen and (max-width: $xlg) {
  .Chosen-set {
    width: $xlgContainer;

    .search-bar {
      width: 600px;

      .search-wrap {
        height: 67px;
        width: 67px;

        svg {
          width: 28px;
          height: 28px;
        }
      }

      .input-wrap input {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .Chosen-set {
    width: $lgContainer;

    .search-bar {
      width: 550px;
    }
  }
}

@media screen and (max-width: $md) {
  .Chosen-set {
    width: $mdContainer;

    .search-bar {
      width: 500px;

      .search-wrap {
        height: 65px;
        width: 65px;

        svg {
          width: 25px;
          height: 25px;
        }
      }

      .input-wrap input {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: $sm) {

  .Chosen-set {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: $smContainer;

    .search-bar {
      .search-wrap {
        height: 63px;
        width: 63px;
      }

      .input-wrap input {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: $tablet) {

  .Chosen-set {
    width: $tabletContainer;

    h1 {
      font-size: 40px;
    }

    .search-bar {
      .search-wrap {
        height: 61px;
        width: 61px;
      }

      .input-wrap input {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: $lmobile) {
  .Chosen-set {
    width: $lmobileContainer;

    h1 {
      font-size: 34px;
    }

    .h1-set-icon {
      width: 40px;
    }

    .search-bar {
      width: 400px;

      .search-wrap {
        height: 59px;
        width: 59px;

        svg {
          width: 22px;
          height: 22px;
        }
      }

      .input-wrap input {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: $mobile) {

  .Chosen-set {
    width: $mobileContainer;

    h1 {
      font-size: 26px;
    }

    .h1-set-icon {
      width: 35px;
    }

    .search-bar {
      width: 315px;

      .search-wrap {
        height: 50px;
        width: 50px;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      .input-wrap input {
        font-size: 12px;
      }
    }
  }
}