@import "../../assets/scss/partials/colors";

.Card {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.Mobile-card {
  display: none;
}

.Card .print-minature {
  width: 200px;
  z-index: 2;
  border-radius: 12px;
}

.Card .card-info {
  grid-area: 1 / 1 / 2 / 2;
}

.Card .card-info .card-img {
  flex-shrink: 0;
  width: 330px;
  min-width: 330px;
  border-radius: 20px;
}

.Card .card-info .view-back {
  margin-top: 25px;
  background-color: $orange;
}

.Card .card-info .view-back:hover {
  background-color: $red;
}

.Card .card-info .card-details {
  gap: 25px;
  margin-left: 25px;
  width: 700px;
}

.Card .card-info .card-details h2 img {
  width: 24px;
  margin-left: 5px;
}

.Card h2 {
  font-size: 28px;
  font-weight: 600;
}

.Card h3 {
  font-size: 20px;
  font-weight: 400;
}

.Card h3 img {
  width: 32px;
  margin-right: 10px;
  filter: invert(35%) sepia(100%) saturate(7500%) hue-rotate(30deg);
}

.Card p {
  font-size: 16px;
  font-weight: 300;
}

.Card .card-details p {
  line-height: 1.6;
}

.Card p.flavor {
  color: $orange;
}

.Card p img {
  width: 18px;
  display: inline;
  margin-right: 2.5px;
}

.Card p img:first-child {
  margin-left: 0px;
}

.Card .card-info .card-formats {
  gap: 15px;
}

.Card .card-info .card-formats button {
  cursor: default;
}

.Card .card-info .card-formats button.legal {
  background-color: $green;
}

.Card .card-info .card-formats button.restricted {
  background-color: $yellow;
}

.Card .card-info .card-formats button.banned {
  background-color: $crimsonRed;
}

.Card .prints {
  grid-area: 1 / 2 / 2 / 3;
  margin-left: auto;
  width: 350px;
  background-color: $transparentBlack;
  border-radius: 10px;
  min-height: 100%;
}

.Card .prints h2,
.prints ul {
  margin-top: 25px;
}

.Card .prints ul {
  padding-inline: 25px;
  padding-bottom: 25px;
  max-height: 500px;
  overflow-y: auto;
  gap: 25px;
}

.Card .prints ul li {
  cursor: pointer;
}

.Card .prints ul li .prices span,
.Card .prints ul li .prices {
  font-size: 15px;
  font-weight: 400;
  color: $gray;
  transition: 300ms;
}


.Card .prints ul li .prices span:hover {
  color: $orange;
}

.Card .prints svg {
  width: 25px;
  height: 25px;
}

.Card .prints svg path {
  fill: $gray;
}

.Card .prints svg.active path {
  fill: $orange;
}

.Card .prints p {
  font-weight: 400;
  margin-left: 10px;
}

.Card .rules {
  grid-area: 2 / 1 / 3 / 3;
  background-color: $transparentBlack;
  margin-top: 50px;
  padding-block: 25px;
  border-radius: 10px;
}

.Card .rules h2,
.rules ul {
  padding-inline: 150px;
}

.Card .rules ul {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 25px;
  gap: 25px;
}

.Card .rules h3 {
  color: $orange;
  font-weight: 600;
}

.Card .rules p {
  margin-top: 10px;
}

.Card .rules a {
  color: $orange;
}

.Card .set-icon {
  height: 32px;
}

@media (max-width: 1600px) {
  .Card {
    grid-column-gap: 25px;
    grid-row-gap: 50px;
  }

  .Card .card-info {
    grid-area: 1 / 1 / 2 / 3;
    justify-content: center;
  }

  .Card .prints {
    grid-area: 2 / 2 / 3 / 3;
    margin-left: none;
  }

  .Card .prints ul {
    max-height: 400px;
  }

  .Card .rules {
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 0px;
    width: 925px;
  }

  .Card .rules h2,
  .rules ul {
    padding-inline: 25px;
  }

  .Card .rules ul {
    max-height: 400px;
  }
}

@media (max-width: 1440px) {
  .Card .rules {
    width: 825px;
  }
}

@media (max-width: 1280px) {
  .Card .card-info .card-details {
    width: 100%;
  }

  .Card .card-info .card-img {
    width: 300px;
    min-width: 300px;
  }

  .Card h2 {
    font-size: 24px;
  }

  .Card .card-info h2 {
    font-size: 26px;
  }

  .Card h3 {
    font-size: 18px;
  }

  .Card p {
    font-size: 14px;
  }

  .Card .prints ul li .prices span,
  .Card .prints ul li .prices {
    font-size: 13px;

  }

  .Card .rules {
    width: 625px;
  }
}

@media (max-width: 1024px) {
  .Card {
    display: none;
  }

  .Mobile-card {
    height: 800px;
    width: 100%;
    background-color: $transparentBlack;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
  }

  .Mobile-card .mobile-card-menu {
    background-color: $black;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
  }

  .Mobile-card .mobile-card-menu li {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    box-sizing: border-box;
    padding-inline: 25px;
    border-bottom: 2px solid;
    border-color: transparent;
    transition: 300ms;
    padding-block: 20px;

    &.active {
      color: $orange;
      border-color: $orange;
    }
  }

  .Mobile-card>div {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow-y: auto;
  }

  .Mobile-card .mobile-card-menu-indicators {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-block: 25px;
  }

  .Mobile-card .mobile-card-menu-indicators .indicator button {
    background-color: $gray;
    height: 20px;
    width: 20px;
    transition: 300ms;

    &.active {
      background-color: $orange;
    }
  }



  .Mobile-card .card-img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Mobile-card .card-tab .card-img {
    height: 475px;
    width: 330px;
    border-radius: 20px;
  }

  .Mobile-card .card-tab .view-back {
    margin-top: 25px;
    padding-inline: 50px;
    padding-block: 20px;
    background-color: $orange;
  }


  .Mobile-card .card-details {
    gap: 25px;
    padding-inline: 50px;
  }

  .Mobile-card .card-details h2 img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
  }

  .Mobile-card h2 {
    font-size: 24px;
    font-weight: 600;
  }

  .Mobile-card h3 {
    font-size: 16px;
    font-weight: 400;
  }

  .Mobile-card h3 img {
    width: 28px;
    margin-right: 10px;
    filter: invert(35%) sepia(100%) saturate(7500%) hue-rotate(30deg);
  }

  .Mobile-card p {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.6;
  }

  .Mobile-card .card-details p {
    line-height: 1.6;
  }

  .Mobile-card p.flavor {
    color: $orange;
  }

  .Mobile-card p img {
    width: 14px;
    display: inline;
    margin-right: 2.5px;

  }

  .Mobile-card p img:first-child {
    margin-left: 0px;
  }

  .Mobile-card .card-formats {
    gap: 15px;
  }

  .Mobile-card .card-formats button {
    cursor: default;
  }

  .Mobile-card .card-formats button.legal {
    background-color: $green;
  }

  .Mobile-card .card-formats button.restricted {
    background-color: $yellow;
  }

  .Mobile-card .card-formats button.banned {
    background-color: $crimsonRed;
  }

  .Mobile-card .prints {
    padding-inline: 50px;
    column-gap: 47.5px; //scroll takes space too, might change later
    row-gap: 25px;
    width: 100%;
  }

  .Mobile-card .print {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
  }

  .Mobile-card .print .card-img {
    width: 175px;
    height: 244px;
    border-radius: 10px;
  }

  .Mobile-card .print li {
    margin-top: 10px;
    column-gap: 5px;
  }

  .Mobile-card .print svg {
    width: 25px;
    height: 25px;
  }

  .Mobile-card .print svg path {
    fill: $gray;
  }

  .Mobile-card .print svg.active path {
    fill: $orange;
  }

  .Mobile-card .print p {
    font-size: 13px;
    font-weight: 400;

    &.active {
      color: $orange;
    }

    span {
      font-size: 12px;
      color: $gray;
    }
  }

  .Mobile-card .rules {
    padding-inline: 50px;
    row-gap: 25px;
  }

  .Mobile-card .rules li {
    display: flex;
    gap: 10px;
  }

  .Mobile-card .rules h3 {
    font-size: 18px;
    font-weight: 600;
    color: $orange;
  }

  .Mobile-card .rules p {
    font-size: 13px;
    font-weight: 300;

    &.no-rules {
      font-size: 22px;
      font-weight: 400;
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  .Mobile-card {
    height: 100%;
    flex-grow: 1;
  }

  .Mobile-card>div {
    padding-top: 25px;
  }

  .Mobile-card .mobile-card-menu li {
    padding-inline: 15px;
  }

  .Mobile-card .card-tab .card-img {
    height: 430px;
    width: 300px;
    border-radius: 15px;
  }


  .Mobile-card .card-details {
    gap: 20px;
    padding-inline: 25px;
  }

  .Mobile-card .card-details h2 img {
    width: 20px;
    height: 20px;
  }

  .Mobile-card h2 {
    font-size: 22px;
  }

  .Mobile-card h3 {
    font-size: 14px;
  }

  .Mobile-card p {
    font-size: 12px;
  }

  .Mobile-card p img {
    width: 12px;
  }

  .Mobile-card .rules {
    padding-inline: 25px;
  }

  .Mobile-card .rules h3 {
    font-size: 16px;
  }

  .Mobile-card .rules p {
    font-size: 13px;

    &.no-rules {
      font-size: 20px;
    }
  }
}

@media (max-width: 800px) {
  .Mobile-card {
    height: 750px;
  }

  .Mobile-card>div {
    padding-top: 25px;
  }

  .Mobile-card .mobile-card-menu li {
    padding-inline: 15px;
  }

  .Mobile-card .card-tab .card-img {
    height: 430px;
    width: 300px;
    border-radius: 15px;
  }


  .Mobile-card .card-details {
    gap: 20px;
    padding-inline: 25px;
  }

  .Mobile-card .card-details h2 img {
    width: 20px;
    height: 20px;
  }

  .Mobile-card h2 {
    font-size: 22px;
  }

  .Mobile-card h3 {
    font-size: 14px;
  }

  .Mobile-card p {
    font-size: 12px;
  }

  .Mobile-card p img {
    width: 12px;
  }

  .Mobile-card .rules {
    padding-inline: 25px;
  }

  .Mobile-card .rules h3 {
    font-size: 16px;
  }

  .Mobile-card .rules p {
    font-size: 13px;

    &.no-rules {
      font-size: 20px;
    }
  }
}