//for each resolution there is fitting container size
//$2k: xpx;
$fhdContainer: 1520px; //for 1920px
$xlgContainer: 1300px; //for 1600px
$lgContainer: 1200px; //for 1440px
$mdContainer: 1000px; //for 1280px
$smContainer: 770px; //for 1024px
$tabletContainer: 550px; //for 800px
$lmobileContainer: 400px; //for 600px
$mobileContainer: 315px; //for 425px