@use "../../assets/scss/partials/importer" as *;

.go-top-box {
  top: 50%;
  right: -120px;
  transform: translateY(-50%);
  background-color: $black;
  padding-block: 20px;
  padding-right: 20px;
  padding-left: 50px;
  border-radius: 10px 0px 0px 10px;
  font-size: 14px;
  font-weight: 300;
  transition: 300ms;
}

.go-top-box.show-box {
  right: 0px;
}

.go-top-box .hide-show-arrow {
  cursor: pointer;
  top: 50%;
  left: -20px;
  transform: translateY(-50%) rotate(180deg);
  transition: transform 500ms;
}

.go-top-box.show-box .hide-show-arrow {
  transform: translateY(-50%) rotate(0deg);
}

.go-top-box .go-top-arrow {
  cursor: pointer;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
}

.go-top-box .go-top-arrow path {
  transition: fill 300ms;
}

.go-top-box .go-top-arrow:hover path {
  fill: $red;
}

@media (max-width: $sm) {
  .go-top-box {
    right: -110px;
    padding-left: 40px;
    font-size: 13px;
  }

  .go-top-box .hide-show-arrow {
    width: 35px;
    height: 35px;
  }

  .go-top-box .go-top-arrow {
    height: 55px;
    width: 55px;
  }
}

@media (max-width: $lmobile) {
  .go-top-box {
    right: -95px;
    padding-left: 35px;
    font-size: 12px;
    padding-block: 15px;
    padding-right: 15px;
  }

  .go-top-box .hide-show-arrow {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }

  .go-top-box .go-top-arrow {
    height: 50px;
    width: 50px;
  }
}