@use "../../assets/scss/partials/importer" as *;

.go-top-box {
  top: 50%;
  right: -120px;
  transform: translateY(-50%);
  padding-block: 20px;
  padding-right: 20px;
  padding-left: 50px;

  font-size: 14px;
  font-weight: 300;

  background-color: $black;

  border-radius: 10px 0px 0px 10px;

  transition: 300ms;

  &.show-box {
    right: 0px;

    .hide-show-arrow {
      transform: translateY(-50%) rotate(0deg);
    }
  }

  .hide-show-arrow {
    top: 50%;
    left: -20px;
    transform: translateY(-50%) rotate(180deg);

    transition: transform 500ms;
    cursor: pointer;
  }

  .go-top-arrow {
    margin-bottom: 10px;

    height: 60px;
    width: 60px;

    cursor: pointer;

    path {
      transition: fill 300ms;
    }

    &:hover path {
      fill: $red;
    }
  }
}

@media (max-width: $sm) {
  .go-top-box {
    right: -110px;
    padding-left: 40px;

    font-size: 13px;

    .hide-show-arrow {
      width: 35px;
      height: 35px;
    }

    .go-top-arrow {
      height: 55px;
      width: 55px;
    }
  }
}

@media (max-width: $lmobile) {
  .go-top-box {
    right: -95px;
    padding-left: 35px;
    padding-block: 15px;
    padding-right: 15px;

    font-size: 12px;

    .hide-show-arrow {
      margin-left: 5px;

      width: 30px;
      height: 30px;
    }

    .go-top-arrow {
      height: 50px;
      width: 50px;
    }
  }
}