@use "../../assets/scss/partials/importer" as *;

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.navbar {
  height: 100px;

  background-color: transparent;

  transition: background-color 300ms;

  &.scrolled {
    background-color: $black;
  }

  .inner-nav {
    width: $fhdContainer;

    .hamburger {
      //fallback
      display: none;
    }

    .nav-links {
      gap: 30px;

      .nav-link {
        font-size: 16px;
        font-weight: 400;

        a:hover {
          color: $orange;

          transition: color 300ms;
        }
      }
    }
  }
}

//fallback
.MobileNavbar {
  display: none;
}


@media (max-width: $xlg) {
  .navbar .inner-nav {
    width: $xlgContainer;

    .nav-links {
      gap: 25px;

      .nav-link {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: $lg) {
  .navbar .inner-nav {
    width: $lgContainer;
  }
}

@media (max-width: $md) {
  .navbar {
    height: 90px;

    .inner-nav {
      width: $mdContainer;

      .logo {
        width: 160px;
      }

      .nav-links .nav-link {
        font-size: 14px;
      }

    }
  }
}

@media (max-width: $sm) {

  //prevent triggering clicking event outside the MobileNavbar, class appended from useEffect
  main.menu-open *:not(.MobileNavbar, .MobileNavbar *) {
    pointer-events: none;
    user-select: none;
  }

  .navbar {
    height: 80px;
    background-color: $black;

    .inner-nav {
      width: $smContainer;

      //fallback
      .hamburger {
        display: block;
      }

      //fallback
      .logo,
      .nav-links {
        display: none;
      }
    }
  }

  .MobileNavbar {
    display: block;
    overflow: auto;

    padding-inline: 50px;
    padding-block: 25px;

    width: 500px;
    height: 100%;

    background-color: $background;

    animation-name: slideIn;
    animation-duration: 250ms;

    .logo-wrap {
      display: flex;
      justify-content: space-between;
      position: sticky;

      top: 0;
    }

    .close-icon {
      width: 40px;
      height: auto;

      path {
        stroke-width: 5px;
      }
    }

    a {
      width: fit-content;
    }

    .nav-links {
      flex-direction: column;
      gap: 30px;
      margin-top: 50px;
      overflow: auto;
    }
  }
}

@media (max-width: $tablet) {
  .navbar {
    height: 70px;

    .inner-nav {
      width: $tabletContainer;
    }
  }
}

@media (max-width: $lmobile) {
  .navbar {
    height: 60px;

    .inner-nav {
      width: $lmobileContainer;

      .hamburger {
        width: 35px;
        height: 35px;
      }
    }
  }

  .MobileNavbar {
    width: 100%;
  }

}

@media (max-width: $mobile) {
  .navbar .inner-nav {
    width: $mobileContainer;
  }

  .MobileNavbar {
    padding: 25px;
    .close-icon {
      width: 35px;
    }

    .nav-links {
      text-align: center;
    }
  }
}