@use "../../assets/scss/partials/importer" as *;

.navbar {
  height: 100px;
  transition: background-color 300ms;
  &.scrolled{
    background-color: $black;
  }
}

.MobileNavbar {
  display: none;
}

.navbar .inner-nav {
  width: $fhdContainer;
}

.navbar .hamburger {
  display: none;
}

.navbar .nav-links {
  gap: 30px;
}

.navbar .nav-link {
  font-size: 16px;
  font-weight: 400;
}

.navbar .nav-link a:hover {
  transition: color 300ms;
  color: $orange;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@media (max-width: $xlg) {
  .navbar .inner-nav {
    width: $xlgContainer;
  }

  .navbar .nav-links {
    gap: 25px;
  }

  .navbar .nav-link {
    font-size: 15px;
  }
}

@media (max-width: $lg) {
  .navbar .inner-nav {
    width: $lgContainer;
  }
}

@media (max-width: $md) {
  .navbar {
    height: 90px;
  }

  .navbar .inner-nav {
    width: $mdContainer;
  }

  .navbar .logo {
    width: 160px;
  }

  .navbar .nav-link {
    font-size: 14px;
  }
}

@media (max-width: $sm) {
  .navbar {
    height: 80px;
    background-color: $black;
  }

  .navbar .inner-nav {
    width: $smContainer;
  }

  .navbar .nav-links {
    display: none;
  }

  .navbar .logo {
    display: none;
  }

  .navbar .hamburger {
    display: block;
  }

  .MobileNavbar {
    width: 500px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $background;
    padding-inline: 50px;
    padding-block: 25px;
    animation-name: slideIn;
    animation-duration: 250ms;
    overflow: auto;
  }

  .MobileNavbar a {
    width: fit-content;
  }

  .MobileNavbar .close-icon {
    width: 40px;
    position: absolute;
    right: 25px;
    top: 5px;

    path {
      stroke-width: 5px;
    }
  }

  .MobileNavbar .nav-links {
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
  }
}

@media (max-width: $tablet) {
  .navbar {
    height: 70px;
  }

  .navbar .inner-nav {
    width: $tabletContainer;
  }
}

@media (max-width: $lmobile) {
  .navbar {
    height: 60px;
  }

  .navbar .inner-nav {
    width: $lmobileContainer;
  }

  .navbar .hamburger {
    width: 35px;
    height: 35px;
  }

  .MobileNavbar {
    width: 100%;
  }

}

@media (max-width: $mobile) {
  .navbar .inner-nav {
    width: $mobileContainer;
  }

  .MobileNavbar .close-icon {
    width: 35px;
  }

  .MobileNavbar .nav-links {
    text-align: center;
  }
}