@use "../../assets/scss/partials/importer" as *;

footer {
  padding-block: 32px;

  background-color: $black;

  .inner-footer {
    column-gap: 175px;

    width: $fhdContainer;

    p {
      font-size: 10px;
      font-weight: 400;

      .footer-link {
        color: $orange;

        transition: color 300ms;

        &:hover {
          color: $orange;
        }
      }
    }

    .nav-links {
      flex-shrink: 0;

      row-gap: 15px;

      .nav-link {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}



@media screen and (max-width: $xlg) {
  footer .inner-footer {
    column-gap: 125px;

    width: $xlgContainer;

    p {
      font-size: 9px;
    }

    .nav-links {
      row-gap: 15px;

      .nav-link {
        font-size: 11px;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  footer .inner-footer {
    column-gap: 100px;

    width: $lgContainer;

    p {
      font-size: 9px;
    }

    .nav-links {
      row-gap: 15px;

      .nav-link {
        font-size: 11px;
      }
    }
  }
}

@media screen and (max-width: $md) {
  footer {
    padding-block: 24px;

    .inner-footer {
      column-gap: 50px;

      width: $mdContainer;

      .logo {
        width: 160px;
      }

      p {
        font-size: 8px;
      }

      .nav-links .nav-link {
        font-size: 11px;
      }
    }
  }
}

@media screen and (max-width: $sm) {
  footer .inner-footer {
    flex-direction: column;

    row-gap: 35px;

    width: $smContainer;

    .logo {
      width: initial;

      order: 1;
    }

    .nav-links .nav-link {
      text-align: center;

      font-size: 14px;

      order: 2;
    }

    p {
      text-align: center;

      font-size: 10px;

      order: 3;
    }
  }
}

@media screen and (max-width: $tablet) {
  footer .inner-footer {
    width: $tabletContainer;

    row-gap: 40px;

    .logo {
      width: 160px;
    }

    .nav-links .nav-link {
      font-size: 12px;
    }

    p {
      font-size: 9px;
    }
  }
}

@media screen and (max-width: $lmobile) {
  footer .inner-footer {
    width: $lmobileContainer;

    p {
      font-size: 8px;
    }
  }
}

@media screen and (max-width: $mobile) {
  footer .inner-footer {
    width: $mobileContainer;

    .nav-links .nav-link {
      font-size: 11px;
    }

    p {
      font-size: 7px;
    }
  }
}