@use "../../assets/scss/partials/importer" as *;

.Not-found {
  gap: 25px;

  h1 {
    font-size: 48px;
    font-weight: 600;
  }

  button {
    margin-top: 25px;

    background-color: $orange;

    &:hover {
      background-color: $red;
    }
  }
}

@media (max-width: $xlg) {
  .Not-found h1 {
    font-size: 46px;
  }
}

@media (max-width: $md) {
  .Not-found h1 {
    font-size: 44px;
  }
}

@media (max-width: $sm) {
  .Not-found {
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 42px;
    }

    button {
      padding: 20px;
      padding-inline: 50px;

      font-size: 14px;
    }

    &>div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    svg {
      height: initial;
      width: 250px;
    }
  }
}

@media (max-width: $tablet) {
  .Not-found h1 {
    font-size: 40px;
  }
}

@media (max-width: $lmobile) {

  .Not-found {
    h1 {
      font-size: 38px;
    }

    button {
      font-size: 13px;
    }
  }
}

@media (max-width: $mobile) {
  .Not-found {
    h1 {
      font-size: 32px;
    }

    button {
      font-size: 12px;
    }

    svg {
      width: 220px;
    }
  }
}